{% extends 'index.html' %}
{% load static %}

{% block title %}Product-detail{% endblock title %}

{% block main-content %}

<div class="container my-5 ">
    <div class="row flex justify-content-between mb-5">
      <!-- Product Image -->
      <div class="col-lg-5">
        <img src="{{product.product_image.url}}" alt="Product Image" class="img-fluid">
      </div>
      <!-- Product Details -->
      <div class="col-md-6 ">
        <h1 class=" text-decoration-underline">{{product.title}}</h1><br>
        <h5>{{product.description}}</h5>
        <p><strong> Discounted Price : </strong> Rs. {{product.discounted_price}}/-</p>
        <small class="text-decoration-line-through text-danger"> Selling Price : Rs.{{product.selling_price}}/-</small>
        <p>{{product.desciption}}</p><br>
        <h4> Description</h4>
        <ul>
          <li>{{product.composition}}</li>
        </ul><br>
        <div class="mt-4">
          <h4>Customer Reviews</h4>
          <p>⭐⭐⭐⭐☆ (4.5/5)</p>
          <p>"Great quality and comfortable shoes! Highly recommended."</p>
          </div><br>
      
          <form action="/add-to-cart" class="d-inline">
            <input type="hidden" name="prod_id" value={{ product.id }} />
            <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button> &nbsp;
          </form>
            {% comment %} < type="submit" class="d-grid gap-2 btn1 btn btn-danger text-decoration-none text-white" style="width: 200px; "> {% endcomment %}
                {% comment %} <b>Add To Cart</b> {% endcomment %}
          
            <div class="btn btn-info p-1 m-1 btn-lg" style="width: 200px;"> <a href="{% url 'showcart' %}" class="text-decoration-none text-white"> Buy  Now</a></div>
            {% comment %} <div class="btn btn-dark p-1 m-1 btn-lg">
              <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Buy Now</a>
            </div> {% endcomment %}
   
    </div>
  </div>

{% endblock main-content %}