{% extends 'index.html' %}

{% load static %}
{% block title %}
  category
{% endblock title %}

{% block main-content %}
  <div class="container my-5">
    <div class="row my-3 bg-info">
      <h3>Welcome <span class="text-capitalize">{{ request.user.username }}</span></h3><br>
      <div class="col-sm-2 border-end bg-dark">
        <ul class="list-unstyled"><br>
          <li class="d-grid">
            <a href="{% url 'profile' %}" class="btn btn-info">Profile</a>
          </li><br>
          <li class="d-grid">
            <a href="{% url 'address' %}" class="btn btn-info">Address</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 offset-sm-2 shadow p-5">
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3">
              {{ field.label_tag }}
              {{ field }}
              {% if field.error %}
                <small class="text-danger">{{ field.error|striptags }}</small>
              {% endif %}
            </div>
          {% endfor %}
          <div class="col-12 mt-3">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
          {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% if messages %}
            {% for messages in messages %}
              <div  class="alert alert-{{ messages.tags }}" role="alert">{{ messages }}</div>
            {% endfor %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock main-content %}